div[class$="filterbox"]
{
border-right:2px solid #000;
margin-right: 20px;
float: left;
width: 204px !important;
background-color: #DCDCDC;
}

.label
{
float:left;
}

.image
{
margin-left: 10px; 
margin-top: 10px;
    margin-bottom: 8px;
}
.filters,.docfilter
{
margin-left: 10px !important;
margin-right:10px !important;
    margin-bottom: 5px !important;
}

#textbox
{

margin-left:10px;
width: 105px;
height : 30px;
}

.button
{

margin-right: 10px;

margin-left: 0px;
width: 43px;
padding-top: 3px;
padding-bottom: 3px;
}
#info
{
display:block;
clear:both;
}
#fk
{
display: block;
}
#facilitites
{
clear:both;
float: left !important;
width :200px !important;
}

.doccontainer 
{
	display:none;
	float:left;
	width: 80%;
}
.labelHead
{
float:left;
min-height:275px;
} 
label
{
	margin-bottom: 0px !important;
    font-size: 13px !important;
    font-weight: normal !important;
}
.docfilter
{
	float:left !important;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: transparent !important;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border:0 !important;
}
.table-bordered {
    border: 0 !important;
 }
.dots
{
     float: right;
}
	
td.ms-cellstyle.ms-vb-title {
    min-width: 175px;
}
 
input[type=button]
{
	min-height:30px;
}
 #textbox, .button {
	 margin: 0px;
 margin-bottom: 5px;
 }